## 자동차_등록자료_통계.xlsx

In [82]:
import os
import time
import pandas as pd

from tqdm import tqdm

pd.set_option('display.max_columns', None)

In [ ]:
d = []
for i in range(1, 13):
    d.append(f"{i:02d}")

Empty DataFrame
Columns: []
Index: []

In [94]:
years = ['2024', '2023']

total = pd.DataFrame()

for year in years:
    for i in d:
        dir = "/home/dongik/src/mini01-car/data"

        # fname = f"2023년_{}월_자동차_신고현황_통계.xlsx"
        sample = f"{year}년_{i}월_자동차_등록자료_통계.xlsx"

        if os.path.exists(os.path.join(dir, sample)):        
            df = pd.read_excel(
                os.path.join(
                    dir, sample
                ), sheet_name=None
            ) # -> dict
            print("Total sheet number: ", df.__len__()) # -> sheet 27
                
            s2 = df[list(df.keys())[1]] # sheet 2
            '''
                    ------------------------------------------------------
                    Key             Value       설명                        
                    ------------------------------------------------------
                    id              int         primary key (기존 index 값)
                    year            DATE        날짜
                    month           DATE        날짜                        
                    district_si     char        특, 광, 도, 세종시, 제주도
                    district_gugun  char        시, 구, 군                  
                    car_type        char        승용/승합/화물/특수/기타    
                    num             int         등록 수                    
                    ------------------------------------------------------
            '''
            s2['year'] = int(year)
            s2['month'] = int(i)

            s2 = s2.rename(
                columns={
                    'Unnamed: 0' : 'district_si',
                    'Unnamed: 1' : 'district_gugun',
                    '자동차' : '승용',
                    'Unnamed: 9' : '승합',
                    'Unnamed: 13' : '화물',
                    'Unnamed: 17' : '특수'
                }
            )
            # s2.columns
            '''
            ['district_si', 'district_gugun', 'Unnamed: 2', 'Unnamed: 3', '<', '자동차',
                '통계표', 'Unnamed: 7', '>', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
                'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
                'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
                'Unnamed: 20', 'Unnamed: 21']
            '''
            s2 = s2.drop(
                ['Unnamed: 2', 'Unnamed: 3', '<',
                '통계표', 'Unnamed: 7', '>', 'Unnamed: 10', 'Unnamed: 11',
                'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 15',
                'Unnamed: 16',  'Unnamed: 18', 'Unnamed: 19',
                'Unnamed: 20', 'Unnamed: 21'], axis=1
            )
            s2 = s2.drop(
                [0, 1, 2], axis=0
            )
            s2 = s2.iloc[:-1]

            s2 = s2[['year','month', 'district_si', 'district_gugun', '승용', '승합', '화물', '특수']]

            s2 = s2[s2['district_gugun'] != '계']

            ns2 = s2.reset_index()

            ns2 = ns2.rename(
                columns={
                    'index' : 'id'
                }
            )

            fill_si = ns2[ns2['district_si'].notna()].index.to_list()
            # [0, 25, 41, 50, 60, 65, 70, 75, 76, 118, 133, 149, 164, 186, 210, 232, 234]

            # for i in fill_si:
            ns2.iloc[fill_si[-1]]['district_si'] 
            # type(ns2['district_si']) pd.series

            print("isnull: ", ns2.isnull().sum())

            ns2 = ns2.fillna(method='ffill')
            # ns2.melt(id_vars=[('승용'), ('승합'), ('화물'), ('특수')])
            # df.melt(id_vars=[('성별'), ('연령')])

            total = pd.concat([total, ns2])
            
        else:
            print("Paht not exists!")
total

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       238
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64
Paht not exists!
Paht not exists!

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       234
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       234
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       234
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       234
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       234
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       234
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       235
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       235
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       235
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       235
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       235
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       235
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/1278339766.py:88: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

      id  year  month district_si district_gugun      승용    승합     화물   특수
0      3  2024      1          서울            강남구  233362  4624  16281  536
1      4  2024      1          서울            강동구  134641  4198  14795  444
2      5  2024      1          서울            강북구   62730  3006   8466  275
3      6  2024      1          서울            강서구  178148  5714  20983  684
4      7  2024      1          서울            관악구  102805  3516  11581  376
..   ...   ...    ...         ...            ...     ...   ...    ...  ...
247  266  2023     12          강원            태백시   16589   798   3621  169
248  267  2023     12          강원            평창군   17972   982   9035  173
249  268  2023     12          강원            홍천군   28176  1606  12395  230
250  269  2023     12          강원            화천군    9772   413   3460   92
251  270  2023     12          강원            횡성군   19772  1011   8987  179

[5568 rows x 9 columns]

In [98]:
# pd.concat([ns2, pd.DataFrame()])
ns2 = total.reset_index()
ns2

,index,id,year,month,district_si,district_gugun,승용,승합,화물,특수
0,0,3,2024,1,서울,강남구,233362,4624,16281,536
1,1,4,2024,1,서울,강동구,134641,4198,14795,444
2,2,5,2024,1,서울,강북구,62730,3006,8466,275
3,3,6,2024,1,서울,강서구,178148,5714,20983,684
4,4,7,2024,1,서울,관악구,102805,3516,11581,376
...,...,...,...,...,...,...,...,...,...,...
5563,247,266,2023,12,강원,태백시,16589,798,3621,169
5564,248,267,2023,12,강원,평창군,17972,982,9035,173
5565,249,268,2023,12,강원,홍천군,28176,1606,12395,230
5566,250,269,2023,12,강원,화천군,9772,413,3460,92
5567,251,270,2023,12,강원,횡성군,19772,1011,8987,179

In [69]:
dir = "/home/dongik/src/mini01-car/data"

# fname = f"2023년_{}월_자동차_신고현황_통계.xlsx"
sample = "2023년_12월_자동차_등록자료_통계.xlsx"

df = pd.read_excel(
    os.path.join(
        dir, "2023년_12월_자동차_등록자료_통계.xlsx"
    ), sheet_name=None
) # -> dict

print("Total sheet number: ", df.__len__()) # -> sheet 27

df.keys()
'''
['01.통계표', '02.통계표_시군구', '03.수입차_시군구', '04.성별_연령별', '05.차종별_등록현황(전체)', 
    '06.차종별_등록현황(관용)', '07.차종별_등록현황(자가용)', '08.차종별 등록현황(영업용)', 
    '09.차종별_유형별 현황', '10.연료별_등록현황', '11.최대적재량별_등록현황', '12.배기별(승용차)_등록현황', 
    '13.차종별_등록(시도)', '14.차종별_상세등록(시도)', '15.차령별_차종별_용도별 등록현황', 
    '16.승차정원별(승합차) 등록현황', '17.차종별_규모별 등록현황_초소형', '18.자가용 자동차 증가추세', 
    '19.연도별 자동차 등록현황', '20.신규 등록현황(당월)', '21.신규 등록현황(누계)', '22.변경 등록현황(당월)', 
    '23.변경 등록현황(누계)', '24.이전 등록현황(당월)', '25.이전 등록현황(누계)', '26.말소 등록현황(당월)', 
    '27.말소 등록현황(누계)']
'''

s2 = df[list(df.keys())[1]] # sheet 2
'''
        ------------------------------------------------------
        Key             Value       설명                        
        ------------------------------------------------------
        id              int         primary key (기존 index 값)
        year            DATE        날짜
        month           DATE        날짜                        
        district_si     char        특, 광, 도, 세종시, 제주도
        district_gugun  char        시, 구, 군                  
        car_type        char        승용/승합/화물/특수/기타    
        num             int         등록 수                    
        ------------------------------------------------------
'''
s2['year'] = 2023
s2['month'] = 12

s2 = s2.rename(
    columns={
        'Unnamed: 0' : 'district_si',
        'Unnamed: 1' : 'district_gugun',
        '자동차' : '승용',
        'Unnamed: 9' : '승합',
        'Unnamed: 13' : '화물',
        'Unnamed: 17' : '특수'
    }
)
# s2.columns
'''
['district_si', 'district_gugun', 'Unnamed: 2', 'Unnamed: 3', '<', '자동차',
       '통계표', 'Unnamed: 7', '>', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21']
'''
s2 = s2.drop(
    ['Unnamed: 2', 'Unnamed: 3', '<',
       '통계표', 'Unnamed: 7', '>', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16',  'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21'], axis=1
)
s2 = s2.drop(
    [0, 1, 2], axis=0
)
s2 = s2.iloc[:-1]

s2 = s2[['year','month', 'district_si', 'district_gugun', '승용', '승합', '화물', '특수']]

s2 = s2[s2['district_gugun'] != '계']

ns2 = s2.reset_index()

ns2 = ns2.rename(
    columns={
        'index' : 'id'
    }
)

fill_si = ns2[ns2['district_si'].notna()].index.to_list()
# [0, 25, 41, 50, 60, 65, 70, 75, 76, 118, 133, 149, 164, 186, 210, 232, 234]

# for i in fill_si:
ns2.iloc[fill_si[-1]]['district_si'] 
# type(ns2['district_si']) pd.series

print("isnull: ", ns2.isnull().sum())

ns2 = ns2.fillna(method='ffill')
# ns2.melt(id_vars=[('승용'), ('승합'), ('화물'), ('특수')])
# df.melt(id_vars=[('성별'), ('연령')])
ns2

Total sheet number:  27
isnull:  id                  0
year                0
month               0
district_si       235
district_gugun      0
승용                  0
승합                  0
화물                  0
특수                  0
dtype: int64

/tmp/ipykernel_27742/3444992053.py:94: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ns2 = ns2.fillna(method='ffill')
/tmp/ipykernel_27742/3444992053.py:94: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ns2 = ns2.fillna(method='ffill')

      id  year  month district_si district_gugun      승용    승합     화물   특수
0      3  2023     12          서울            강남구  232480  4601  16243  532
1      4  2023     12          서울            강동구  134548  4211  14820  441
2      5  2023     12          서울            강북구   62790  3010   8476  273
3      6  2023     12          서울            강서구  178414  5720  21013  674
4      7  2023     12          서울            관악구  102778  3522  11632  371
..   ...   ...    ...         ...            ...     ...   ...    ...  ...
247  266  2023     12          강원            태백시   16589   798   3621  169
248  267  2023     12          강원            평창군   17972   982   9035  173
249  268  2023     12          강원            홍천군   28176  1606  12395  230
250  269  2023     12          강원            화천군    9772   413   3460   92
251  270  2023     12          강원            횡성군   19772  1011   8987  179

[252 rows x 9 columns]

In [99]:
a = ['승용', '승합', '화물', '특수']

tmp1 = ns2[['id', 'year', 'month', 'district_si', 'district_gugun', '승용']].copy()
tmp1['car_type'] = '승용'
tmp1 = tmp1.rename(
    columns={
        '승용' : 'num'
    }
)

tmp2 = ns2[['id', 'year', 'month', 'district_si', 'district_gugun', '승합']].copy()
tmp2['car_type'] = '승합'
tmp2 = tmp2.rename(
    columns={
        '승합' : 'num'
    }
)

tmp3 = ns2[['id', 'year', 'month', 'district_si', 'district_gugun', '화물']].copy()
tmp3['car_type'] = '화물'
tmp3 = tmp3.rename(
    columns={
        '화물' : 'num'
    }
)

tmp4 = ns2[['id', 'year', 'month', 'district_si', 'district_gugun', '특수']].copy()
tmp4['car_type'] = '특수'
tmp4 = tmp4.rename(
    columns={
        '특수' : 'num'
    }
)
final = pd.concat([tmp1, tmp2, tmp3, tmp4], ).reset_index().drop(
    columns=['index'], axis=1
)
final

        id  year  month district_si district_gugun     num car_type
0        3  2024      1          서울            강남구  233362       승용
1        4  2024      1          서울            강동구  134641       승용
2        5  2024      1          서울            강북구   62730       승용
3        6  2024      1          서울            강서구  178148       승용
4        7  2024      1          서울            관악구  102805       승용
...    ...   ...    ...         ...            ...     ...      ...
22267  266  2023     12          강원            태백시     169       특수
22268  267  2023     12          강원            평창군     173       특수
22269  268  2023     12          강원            홍천군     230       특수
22270  269  2023     12          강원            화천군      92       특수
22271  270  2023     12          강원            횡성군     179       특수

[22272 rows x 7 columns]

In [100]:
import sqlalchemy
from urllib import parse

user='team2'
password='Encore_team2@'
password = parse.quote_plus(password)
# host='192.168.0.95'
host='222.112.208.67'
port=13306
database='team2'
engine=sqlalchemy.create_engine(f'mysql://{user}:{password}@{host}:{port}/{database}')
final.to_sql('sigungu', if_exists='replace', con=engine, index=False)

22272

In [71]:
ns2.columns

Index(['id', 'year', 'month', 'district_si', 'district_gugun', '승용', '승합',
       '화물', '특수'],
      dtype='object')

In [ ]:

# tmp = pd.read_excel(file_path, sheet_name='02.통계표_시군구',  header=[2,3])
sheet02.columns = [ (x[0].replace(" ", ""), x[1]) for x in tmp.columns]
tmp.rename(columns={('시도', 'Unnamed: 0_level_1'): ('시도', '시도'), ('시군구', 'Unnamed: 1_level_1'): ('시군구', '시군구')}, inplace=True)
tmp[("시도", "시도")] = tmp[("시도", "시도")].fillna(method='ffill')
tmp2 = tmp.melt(id_vars=[('시도', '시도'), ('시군구', '시군구')]).copy()
tmp2.to_csv("./aaa.csv", index=False)

In [18]:
list(df.keys())[0]

'01.통계표'